imgui.ini
imgui.natstepfilter
imgui.natvis
UpgradeLog.htm
.vs/ProjectVulkanTutorial/v16/.suo
.vs/ProjectVulkanTutorial/v16/Browse.VC.db
.vs/ProjectVulkanTutorial/v16/Browse.VC.db-shm
.vs/ProjectVulkanTutorial/v16/Browse.VC.db-wal
.vs/ProjectVulkanTutorial/v16/Browse.VC.opendb
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/30cb3e7f01262449/IMGUI_DRAW.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/3b3b15149604d284/IMGUI_IMPL_VULKAN.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/437dae5bdad7750d/IMGUI_IMPL_VULKAN.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/657c9fc292233b0c/IMGUI.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/776bbe77558bb019/IMGUI.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/7e395a477d4b4523/IMGUI.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/b21389b2606cb164/IMGUI_DEMO.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/b56f69c544f93fe2/MAIN.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/ba6d77481a446b4a/IMGUI.ipch
.vs/ProjectVulkanTutorial/v16/ipch/AutoPCH/e301448be0d52b58/MAIN.ipch
x64/Debug/imgui.obj
x64/Debug/imgui_demo.obj
x64/Debug/imgui_draw.obj
x64/Debug/imgui_impl_glfw.obj
x64/Debug/imgui_impl_vulkan.obj
x64/Debug/imgui_tables.obj
x64/Debug/imgui_widgets.obj
x64/Debug/main.obj
x64/Debug/ProjectVulkanTutorial.Build.CppClean.log
x64/Debug/ProjectVulkanTutorial.exe
x64/Debug/ProjectVulkanTutorial.exe.recipe
x64/Debug/ProjectVulkanTutorial.ilk
x64/Debug/ProjectVulkanTutorial.log
x64/Debug/ProjectVulkanTutorial.pdb
x64/Debug/ProjectVulkanTutorial.vcxproj.FileListAbsolute.txt
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/ProjectV.4ec0d037.tlog/CL.command.1.tlog
x64/Debug/ProjectV.4ec0d037.tlog/CL.read.1.tlog
x64/Debug/ProjectV.4ec0d037.tlog/CL.write.1.tlog
x64/Debug/ProjectV.4ec0d037.tlog/link.command.1.tlog
x64/Debug/ProjectV.4ec0d037.tlog/link.read.1.tlog
x64/Debug/ProjectV.4ec0d037.tlog/link.write.1.tlog
x64/Debug/ProjectV.4ec0d037.tlog/ProjectVulkanTutorial.lastbuildstate
x64/Release/imgui.obj
x64/Release/imgui_demo.obj
x64/Release/imgui_draw.obj
x64/Release/imgui_impl_glfw.obj
x64/Release/imgui_impl_vulkan.obj
x64/Release/imgui_tables.obj
x64/Release/imgui_widgets.obj
x64/Release/main.obj
x64/Release/ProjectVulkanTutorial.exe
x64/Release/ProjectVulkanTutorial.exe.recipe
x64/Release/ProjectVulkanTutorial.iobj
x64/Release/ProjectVulkanTutorial.ipdb
x64/Release/ProjectVulkanTutorial.log
x64/Release/ProjectVulkanTutorial.pdb
x64/Release/ProjectVulkanTutorial.vcxproj.FileListAbsolute.txt
x64/Release/vc142.pdb
x64/Release/ProjectV.4ec0d037.tlog/CL.command.1.tlog
x64/Release/ProjectV.4ec0d037.tlog/CL.read.1.tlog
x64/Release/ProjectV.4ec0d037.tlog/CL.write.1.tlog
x64/Release/ProjectV.4ec0d037.tlog/link.command.1.tlog
x64/Release/ProjectV.4ec0d037.tlog/link.read.1.tlog
x64/Release/ProjectV.4ec0d037.tlog/link.write.1.tlog
x64/Release/ProjectV.4ec0d037.tlog/ProjectVulkanTutorial.lastbuildstate
x64/Release/ProjectV.4ec0d037.tlog/ProjectVulkanTutorial.write.1u.tlog
